/* NAVBAR */
.navbar-brand {
  position: relative;
}

#logo {
  width: 50px;
}

#moviestar-title {
  color: white;
  position: absolute;
  bottom: -2px;
  font-size: 30px;
  left: 55px;
  font-weight: bold;
}

#main-navbar {
  background-color: #121212;
}

#search-form {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  margin-left: 180px;
  padding: 5px;
}

#search-form .form-control {
  border: none;
  width: 100%; /* Ocupa todo o espaço disponível */
  box-shadow: none;
  flex: 1; /* Faz com que o input ocupe o máximo possível */
}

#search-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.form-group {
  margin-top: 20px;
}

#navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 90%;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  transition: 0.5s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #999;
}

.bold {
  font-weight: bold;
}

.msg-container {
  background-color: black;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px black;
  text-align: center;
}

.msg-error {
  color: rgb(139, 20, 20);
  background-color: rgb(168, 110, 110);
  border-color: rgb(59, 20, 20);
}

.msg-success {
  color: rgb(17, 100, 14);
  background-color: rgb(132, 207, 138);
  border-color: rgb(17, 73, 31);
}

/* HOME */
#main-container {
  background-color: black;
  color: white;
  min-height: 65vh;
  padding: 40px;
}

.section-title {
  font-size: 24px;
  border-left: 4px solid yellow;
  padding-left: 12;
  margin-top: 20px;
}

.section-description {
  color: #ccc;
  font-size: 18px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap; /*Quando chegar no limite de largura ele joga pra baixo */
  margin: 0 -15px;
}

.movie-card {
  background-color: #121212;
  width: 18%;
  margin-bottom: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.movie-card .card-img-top {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-title {
  height: 3rem;
}

.card-title a {
  font-size: 16px;
  color: #fff;
}

.fas.fa-star {
  color: yellow;
}

.rate-btn {
  margin-bottom: 15px;
  color: #5799ef;
  background-color: #333;
  border-color: #333;
  width: 100%;
  font-weight: bold;
}

.rate-btn:hover {
  border-color: #fff;
  background-color: #333;
}

.empty-list{
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

/* Login / register */

#auth-row {
  justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
  text-align: center;
  border-bottom: 2px solid rgb(255, 251, 25);
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

#login-container form,
#register-container form {
  max-width: 400px;
  margin: 30px auto;
}

.card-btn {
  color: black;
  background-color: rgb(255, 251, 25);
  border: 2px solid rgb(122, 122, 13);
  width: 100%;
  margin-top: 20px;
}

.card-btn:hover {
  background-color: transparent;
  color: rgb(255, 251, 25);
  border-color: rgb(255, 255, 255);
}

/* EDIT PROFILE */

#profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid #f5c518;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.page-description {
  color: #999;
}

#bio {
  max-width: 400px;
}

.disabled #email {
  background-color: rgb(161, 161, 161);
}

#change-password-container {
  margin-top: 30px;
}

#add-movie-container .card-btn{
  margin: auto;
  width: 20%;
}

/* DASHBOARD */

#add-movie-container{
  text-align: right;
  margin-bottom: 15px;
}



.table th{
  background-color: #121212;
  color: #fff;
}

.table td{
  background-color: #121212;
  color: #fff;
}

#movies-dashboard .table th{
  border-top: none;
}

#movies-dashboard .table tr{
  padding: 15px 0;
}

.table-movie-title{
  color: #fff;
  font-weight: bold;
  transition: 0.5;
}

.table-movie-title:hover{
  color: yellow;
}

.actions-column{
  max-width: 75px;
  text-align: center;
  
}

.actions-column form{
  display: inline-block;
}

.edit-btn, .delete-btn{
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  transition: 0.5s;
  border: none;
}

.edit-btn{
  background-color: #5799ef;
  color: #fff;
  text-decoration: none;
}

.edit-btn:hover{
  background-color: transparent;
  color: #5799ef;

}

.delete-btn{
  background-color: #ef5757;
  color: #fff;
}

.delete-btn:hover{
  background-color: transparent;
  color: #ef5757;
  text-decoration: none;
}

/* new movie */

.new-movie-container {
  text-align: center;
}
#add-movie-form {
  text-align: left;
}

.movie-image-container {
  height: 400px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}

.page-title:after {
  content: "";
  border-bottom: 2px solid yellow;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

/* FOOTER */
#footer {
  background-color: #000;
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: 0.5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: white;
  transition: 0.5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container li {
  margin: 30px;
}
